# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lst

# Executables
*.exe
*.out
*.app


# Exclude FileFolder
STM32/CMSIS-DAP/*
si_load_cell.si4project/
out/
*.Administrator
*.uvopt
*.*~
*build_log.htm